---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Portfolio from "../components/Portfolio.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Bradley Graham | Full Stack Web Developer | Lead Programmer">
  <main>
    <section class="home__title-screen">
      <div class="overlay__layer--1"></div>
      <div class="overlay__layer--2"></div>
      <div class="overlay__layer--3"></div>
      <div class="overlay__text">
        <h1>Bradley Graham</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </section>
    <Container>
      <section class="home__bio">
        <div class="bio__text">
          <h2>About Me</h2>
          <p>
            I'd like to think of myself as a creative type; creating something with my own two hands is something remarkably fulfilling to me. As a full stack web developer, I can do so. A lifelong value of mine is as follows: If you're going to do
            something, you might as well do it right the first time. This phrase encapsulates my attitude towards development as a whole. I want to look back at my work with pride.
          </p>
        </div>
        <div class="bio__pic">
          <picture>
            <img src="/assets/me.jpg" loading="lazy" alt="Bradley Graham | Full Stack Web Developer" />
          </picture>
        </div>
      </section>
    </Container>
    <Skills />
    <Portfolio />
  </main>
</Layout>
<link rel="stylesheet" href="/styles/index.css" />
