---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Bradley Graham | Full Stack Web Developer | Lead Programmer">
  <main>
    <section class="home__title-screen">
      <div class="overlay__layer--1"></div>
      <div class="overlay__layer--2"></div>
      <div class="overlay__layer--3"></div>
      <div class="overlay__text">
        <h1>Bradley Graham</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </section>
    <Container>
      <section class="home__bio">
        <div class="bio__text">
          <h2>About Me</h2>
          <p>
            I'd like to think of myself as a creative type; creating something with my own two hands is something remarkably fulfilling to me. As a full stack web developer, I can do so. A lifelong value of mine is as follows: If you're going to do
            something, you might as well do it right the first time. This phrase encapsulates my attitude towards development as a whole. I want to look back at my work with pride.
          </p>
        </div>
        <div class="bio__pic">
          <picture>
            <img src="https://picsum.photos/seed/picsum/900/600" alt="" />
          </picture>
        </div>
      </section>
    </Container>
    <Container>
      <section class="home__portfolio">
        <h2>My Work</h2>
        <div class="portfolio__work">
          <div class="portfolio__card" id="gammie">
            <div class="preview">
              <img src="/assets/portfolio/gammie/thumbnail.jpg" alt="Gammie Homecare Homepage" />
              <video playsinline muted loop preload="none" class="preview-video">
                <source src="/assets/portfolio/gammie/tour.webm" type="video/webm" />
              </video>
            </div>
            <h3>Gammie Homecare</h3>
            <div class="description">
              <p>Ecommerce</p>
              <p>Web Application</p>
            </div>
            <div class="links">
              <a href="https://gammie.com/" target="_blank" rel="noopener noreferrer" class="btn-secondary btn-solid">Website</a>
            </div>
          </div>
          <div class="portfolio__card" id="alphaseo">
            <div class="preview">
              <img src="/assets/portfolio/alphaseo/thumbnail.jpg" alt="" />
              <video playsinline muted loop preload="none" class="preview-video">
                <source src="/assets/portfolio/alphaseo/tour.webm" type="video/webm" />
              </video>
            </div>
            <h3>Alpha SEO</h3>
            <div class="description">
              <p>Artificial Intelligence</p>
              <p>Web Application</p>
            </div>
            <div class="links">
              <a href="https://alphaseo.webmarkets.ai/" target="_blank" rel="noopener noreferrer" class="btn-secondary btn-solid">Website</a>
            </div>
          </div>
          <div class="portfolio__card" id="francini">
            <div class="preview">
              <img src="/assets/portfolio/gammie/thumbnail.jpg" alt="" />
              <video playsinline muted loop preload="none" class="preview-video">
                <source src="/assets/portfolio/gammie/tour.webm" type="video/webm" />
              </video>
            </div>
            <h3>Gammie Homecare</h3>
            <div class="description">
              <p>Ecommerce</p>
              <p>Web Application</p>
            </div>
            <div class="links">
              <a href="" target="_blank" rel="noopener noreferrer" class="btn-secondary btn-solid">Website</a>
            </div>
          </div>
          <div class="portfolio__card" id="westside">
            <div class="preview">
              <img src="/assets/portfolio/gammie/thumbnail.jpg" alt="" />
              <video playsinline muted loop preload="none" class="preview-video">
                <source src="/assets/portfolio/gammie/tour.webm" type="video/webm" />
              </video>
            </div>
            <h3>Gammie Homecare</h3>
            <div class="description">
              <p>Ecommerce</p>
              <p>Web Application</p>
            </div>
            <div class="links">
              <a href="" target="_blank" rel="noopener noreferrer" class="btn-secondary btn-solid">Website</a>
            </div>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>
<script>
  const cards = document.querySelectorAll(".portfolio__card");
  if (cards) {
    cards.forEach((card) => {
      let isPlaying = false;
      card.addEventListener("mouseover", (e) => {
        if (e.target == e.currentTarget && !isPlaying) {
          const tourVideo = card.querySelector(".preview-video");
          if (tourVideo) {
            tourVideo.play();
            isPlaying = true;
          }
        }
      });
      card.addEventListener("mouseout", (e) => {
        if (card.contains(e.fromElement) && !card.contains(e.relatedTarget) && isPlaying) {
          console.log("should stop playing video?");
          const tourVideo = card.querySelector(".preview-video");
          if (tourVideo) {
            tourVideo.pause();
            isPlaying = false;
          }
        }
      });
    });

    // Mobile preview settings
    if (window.innerWidth < 960) {
      const observer = new IntersectionObserver(
        (e) => {
          e.forEach((elem) => {
            if (elem.intersectionRatio > 0.75) {
              elem.target.classList.add("focused");
              const tourVideo = elem.target.querySelector(".preview-video");
              if (tourVideo) {
                tourVideo.play();
              }
            } else {
              elem.target.classList.remove("focused");
              const tourVideo = elem.target.querySelector(".preview-video");
              if (tourVideo) {
                tourVideo.pause();
              }
            }
          });
        },
        {
          threshold: 0.75,
        }
      );
      cards.forEach((card) => {
        observer.observe(card);
      });
    }
  }
</script>
<link rel="stylesheet" href="/styles/index.css" />
