---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="home__title-screen">
      <div class="overlay__layer--1"></div>
      <div class="overlay__layer--2"></div>
      <div class="overlay__layer--3"></div>
      <div class="overlay__text">
        <h1>Bradley Graham</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </section>
    <Container>
      <section class="home__bio">
        <div class="bio__text">
          <h2>About Me</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, itaque. Suscipit earum minus atque vero repudiandae quam quod officiis molestiae assumenda! Ratione sapiente natus iste, commodi quisquam hic. Illo, dolorem. Odio quam officiis placeat repudiandae in hic fuga ea, libero dolorem sit saepe cupiditate ab at consequatur aperiam minima quos et rem cumque quod exercitationem id consequuntur. Est, pariatur animi.</p>
        </div>
        <div class="bio__pic">
          <picture>
            <img src="https://picsum.photos/seed/picsum/900/600" alt="" />
          </picture>
        </div>
      </section>
    </Container>
    <Container>
      <section class="home__portfolio">
        <h2>My Work</h2>
        <div class="portfolio__work">
          <div class="portfolio__card">
            <div class="preview">
              <img src="/assets/portfolio/gammie/thumbnail.jpg" alt="" />
              <video playsinline muted loop preload="none" class="preview-video">
                <source src="/assets/portfolio/gammie/tour.webm" type="video/webm" />
                <!-- <source src="movie.ogg" type="video/ogg" /> -->
              </video>
            </div>
            <h3>Gammie Homecare</h3>
            <div class="description">
              <p>Ecommerce</p>
              <p>Web Application</p>
            </div>
            <div class="links">
              <a href="" class="btn-secondary btn-solid">Website</a>
            </div>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>
<script>
  const cards = document.querySelectorAll('.portfolio__card');
  if (cards) {
    cards.forEach((card) => {
      let isPlaying = false;
      card.addEventListener('mouseover', (e) => {
        if (e.target == e.currentTarget && !isPlaying) {
          const tourVideo = card.querySelector('.preview-video');
          if (tourVideo) {
            tourVideo.play();
            isPlaying = true;
          }
        }
      });
      card.addEventListener('mouseout', (e) => {
        if (e.relatedTarget.classList[0] === 'portfolio__work' && isPlaying) {
          const tourVideo = card.querySelector('.preview-video');
          if (tourVideo) {
            tourVideo.pause();
            isPlaying = false;
          }
        }
      });
    });
  }
</script>
<style>
  main h2 {
    position: relative;
    display: inline-block;
    margin-top: 0;
  }
  main h2::before {
    content: '';
    position: absolute;
    top: 80%;
    left: 5%;
    height: 2px;
    width: 45%;
  }
  main h2:nth-of-type(1)::before {
    background-color: var(--theme-primary);
  }
  main h2:nth-of-type(2)::before {
    background-color: var(--theme-secondary);
  }
  main h2:nth-of-type(3)::before {
    background-color: var(--theme-tertiary);
  }
  /* Home Title Screen */
  .home__title-screen {
    position: relative;
    background-color: var(--theme-bg);
    overflow: hidden;
    min-height: 100vh;
  }
  .home__title-screen .overlay__layer--1,
  .home__title-screen .overlay__layer--2,
  .home__title-screen .overlay__layer--3 {
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(45deg) translateX(-50%);
    z-index: 0;
  }
  .home__title-screen .overlay__layer--1 {
    background-color: var(--theme-tertiary);
    /* Triangle's width & height should be ~35vmax */
    width: 49.5vmax;
    height: 24.75vmax;
    bottom: 0;
    left: 0;
  }
  .home__title-screen .overlay__layer--2 {
    background-color: var(--theme-secondary);
    /* Triangle's width & height should be ~35vmax */
    width: 84vmax;
    height: 15vmax;
    bottom: 19vmax;
    left: 19vmax;
  }
  .home__title-screen .overlay__layer--3 {
    background-color: var(--theme-primary);
    /* Triangle's width & height should be ~35vmax */
    width: 145vmax;
    height: 97vmax;
    bottom: 31.107vmax;
    left: 31.107vmax;
  }

  .home__title-screen .overlay__text {
    position: relative;
    text-align: right;
    z-index: 1;
    margin: 45vh 10% 0 0;
    transform: translateY(-50%);
  }
  .home__title-screen .overlay__text h1 {
    color: white;
    font-size: var(--font-size-xl);
    margin: 0;
  }
  .home__title-screen .overlay__text p {
    color: white;
    margin: 0.5rem 0 0;
  }
  /* Home Bio */
  .home__bio {
    display: flex;
    flex-wrap: wrap;
  }
  .home__bio .bio__text,
  .home__bio .bio__pic {
    width: 50%;
  }
  .home__bio .bio__text {
    display: inline-block;
    padding: 0 2rem 0 0;
  }
  .home__bio .bio__text h2 {
    margin-top: 0;
  }
  .home__bio .bio__pic p:last-child {
    margin-bottom: 0;
  }
  .home__bio .bio__pic {
    display: inline-block;
    padding: 0 0 0 2rem;
  }
  .home__bio .bio__pic img {
    box-shadow: 15px 15px 0 var(--theme-primary-accent);
  }
  /* Home Portfolio */
  .home__portfolio .portfolio__work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .home__portfolio .portfolio__card {
    padding: 0.75rem;
    color: white;
    text-align: center;
    background: #2b2b2b;
    background: linear-gradient(55deg, rgba(45, 67, 92, 1) 20%, rgba(43, 43, 43, 1) 20%, rgba(43, 43, 43, 1) 23%, rgba(91, 27, 27, 1) 23%, rgba(91, 27, 27, 1) 60%, rgba(43, 43, 43, 1) 60%, rgba(43, 43, 43, 1) 63%, rgba(40, 65, 47, 1) 63%);
    border-radius: 0.5rem;
    transition: 250ms all;
  }
  .home__portfolio .portfolio__card:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    transition: 250ms all;
  }
  .home__portfolio .portfolio__card .preview {
    width: 100%;
    padding-bottom: 52.9948%;
    position: relative;
    overflow: hidden;
  }
  .portfolio__card .preview img,
  .portfolio__card .preview video {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
  }
  .home__portfolio .portfolio__card .description {
    margin-bottom: 1rem;
  }
  .home__portfolio .portfolio__card h3,
  .home__portfolio .portfolio__card p {
    color: white;
  }
  .home__portfolio .portfolio__card h3 {
    margin: 0.5em 0 0.5em;
    font-size: var(--font-size-base);
  }
  .home__portfolio .portfolio__card p {
    font-size: var(--font-size-sm);
  }
</style>
