---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = "Bradley's Site";
let description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://example.com/';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
<div class="home-hero">
    <h1>Bradley Graham</h1>
</div>
<div class="about-me">
<div class="about-me-overlay">
  <div class="about-me-content">
    <h2>About Me</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia temporibus sunt illum alias hic laudantium fuga cupiditate. Iste soluta minus ea vero aliquid quas, mollitia ipsam magnam dignissimos laboriosam dolorum.</p>
  </div>
</div>
</div>
</BaseLayout>

<style scoped>
  .home-hero {
    background-color: var(--primary-color);
    min-height: 60vh;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home-hero h1 {
    color: var(--primary-light, white);
    filter: drop-shadow(5px 12px 10px rgba(0,0,0,0.8));
    font-size: 5rem;
    margin: 0;
  }
  .about-me {
    background: url("/assets/home-hero-lg.jpg"), rgba(0,0,0,0.5);
    background-position: right;
    background-size: cover;
    height: 80vh;
    min-height: 10rem;
  }
  .about-me-overlay {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    padding: 2rem 1rem;
    height: 100%;
    width: 100%;
  }
  .about-me-content {
    width: clamp(300px, 60vw, 800px);
    background-color: var(--primary-background);
    box-shadow: 6px 8px 12px rgba(0,0,0,0.8);
    padding: 1rem;

  }
</style>