---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="home__title-screen">
      <div class="overlay__layer--1"></div>
      <div class="overlay__layer--2"></div>
      <div class="overlay__layer--3"></div>
      <div class="overlay__text">
        <h1>Bradley Graham</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  /* Home Title Screen */
  .home__title-screen {
    position: relative;
    background-color: var(--theme-bg);
    overflow: hidden;
    min-height: 100vh;
  }
  .home__title-screen .overlay__layer--1,
  .home__title-screen .overlay__layer--2,
  .home__title-screen .overlay__layer--3 {
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(45deg) translateX(-50%);
    z-index: 0;
  }
  .home__title-screen .overlay__layer--1 {
    background-color: var(--theme-tertiary);
    /* Triangle's width & height should be ~35vmax */
    width: 49.5vmax;
    height: 24.75vmax;
    bottom: 0;
    left: 0;
  }
  .home__title-screen .overlay__layer--2 {
    background-color: var(--theme-secondary);
    /* Triangle's width & height should be ~35vmax */
    width: 84vmax;
    height: 15vmax;
    bottom: 19vmax;
    left: 19vmax;
  }
  .home__title-screen .overlay__layer--3 {
    background-color: var(--theme-primary);
    /* Triangle's width & height should be ~35vmax */
    width: 145vmax;
    height: 97vmax;
    bottom: 31.107vmax;
    left: 31.107vmax;
  }

  .home__title-screen .overlay__text {
    position: relative;
    text-align: right;
    z-index: 1;
    color: white;
    margin: 45vh 10% 0 0;
    transform: translateY(-50%);
  }
  .home__title-screen .overlay__text h1 {
    font-size: var(--font-size-xl);
    margin: 0;
  }
  .home__title-screen .overlay__text p {
    margin: 0.5rem 0 0;
  }
</style>
