---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Portfolio from '../components/Portfolio.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Bradley Graham | Full Stack Web Developer | Lead Programmer">
  <main>
    <section class="home__title-screen">
      <div class="overlay__layer--1"></div>
      <div class="overlay__layer--2"></div>
      <div class="overlay__layer--3"></div>
      <div class="overlay__text">
        <h1>Bradley Graham</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </section>
    <Container>
      <section class="home__bio" id="about-me">
        <div class="bio__text">
          <h2>About Me</h2>
          <p>I'm a creative problem solver with years of experience crafting unique web experiences. Throughout my time working as a developer I've learned a variety of skills involving every step of the development process. In my free time I enjoy gaming, movies, and reading books.</p>
        </div>
        <div class="bio__pic">
          <picture>
            <img src="/assets/me.jpg" loading="lazy" alt="Bradley Graham | Full Stack Web Developer" />
          </picture>
        </div>
      </section>
    </Container>
    <Skills />
    <Portfolio />
  </main>
</Layout>
<link rel="stylesheet" href="/styles/index.css" />
