---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<article class="post-content__article">
    {heroImage && <img width="720" height="420" class="post-main__img" loading="lazy" src={heroImage} alt={alt} />}
    <h1>{title}</h1>
    <time>{publishDate}</time>
    <slot class="pt-1" />
</article>

<style>
  .post-content__article {
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
  }

  .pt-1 {
    padding-top: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

