---

---
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>

<style scoped>
  nav {
    background-color: var(--dark-background);
    padding:1rem;
    
  }
  ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 0 0.6rem;
  }
  a {
    text-decoration: none;
    color: var(--primary-background);
    font-weight: 600;
    transition: 250ms all;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    border-bottom: 2px solid var(--primary-background);
    transition: 250ms all;
  }
</style>