---
import Container from "./Container.astro";
---

<Container>
  <section class="skills__section">
    <h2>Expertise</h2>
    <ul class="icon-list">
      <li><img src="/assets/expertise/github.svg" alt="The Octocat" />Github</li>
      <li><img src="/assets/expertise/firebase.svg" alt="Firebase Icon" />Firebase</li>
      <li><img src="/assets/expertise/javascript.svg" alt="Javascript Icon" />Javascript</li>
      <li><img src="/assets/expertise/typescript.svg" alt="Typescript Icon" />Typescript</li>
      <li><img src="/assets/expertise/css.svg" alt="CSS Icon" />Cascading Style Sheets</li>
      <li>DNS Management</li>
      <li>Server Deployment & Maintenance</li>
      <li>C++</li>
      <li>C#</li>
      <li>Java</li>
      <li>Ruby</li>
      <li>PHP</li>
      <li>MongoDB</li>
      <li>MySQL</li>
      <li>MSSQL</li>
      <li>NoSQL</li>
      <li>Netlify</li>
      <li>Sanity</li>
      <li>Search Engine Optimization</li>
    </ul>
  </section>
</Container>
<link rel="stylesheet" href="/styles/expertise.css" />
<!-- <script></script> -->
