---
import Container from "./Container.astro";
---

<Container>
  <section class="skills__section">
    <h2>Expertise</h2>
    <ul class="icon-list">
      <li>Github</li>
      <li>Firebase</li>
      <li>DNS Management</li>
      <li>Server Deployment & Maintenance</li>
      <li>Search Engine Optimization</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Cascading Style Sheets</li>
      <li>C++</li>
      <li>C#</li>
      <li>Java</li>
      <li>Ruby</li>
      <li>PHP</li>
      <li>MongoDB</li>
      <li>MySQL</li>
      <li>MSSQL</li>
      <li>NoSQL</li>
      <li>Netlify</li>
      <li>Sanity</li>
    </ul>
  </section>
</Container>
<link rel="stylesheet" href="/styles/expertise.css" />
<!-- <script></script> -->
