/* Variables */
:root {
  /* Theme Colors */
  --theme-bg: #ebedee;
  --theme-on-bg: #343434;
  --theme-primary: #288BFF;
  --theme-primary-accent: #2d435c;
  --theme-on-primary: white;
  --theme-secondary: #458958;
  --theme-secondary-accent: #28412F;
  --theme-on-secondary: white;
  --theme-tertiary: #FF6666;
  --theme-tertiary-accent: #5B1B1B;
  --theme-on-tertiary: white;

  /* Theme Fonts */
  --theme-header-font: 'Poppins', sans-serif;
  --theme-body-font: 'Open Sans', sans-serif;

  /* Font Sizes */
  --font-size-xl: clamp(2.4rem, calc(1.6rem + 2.5vw), 3.5rem);
  --font-size-lg: clamp(2rem, calc(1.6rem + 2.5vw), 3rem);
  --font-size-base: clamp(1rem, calc(0.6rem + 1vw), 1.2rem);
  --font-size-sm: clamp(0.85rem, calc(0.5rem + 0.85vw), 1rem);
  /* Section Settings */
  --section-spacing: 4rem;
  --section-width: 1400px;
  --section-alt-width: 1160px;
  /* Base Settings */
  font-size: 20px;
  scroll-behavior: smooth;
  scroll-padding: var(--section-spacing);
}

/* Base Styles */
body {
  margin: 0;
  background-color: var(--theme-bg);
}

section,
div,
span {

  box-sizing: border-box;
}

/* Font Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme-header-font);
  font-size: var(--font-size-lg);
  color: var(--theme-on-bg);
  margin: 0.75em 0 0.25em;
}

p,
li {
  font-family: var(--theme-body-font);
  font-weight: 300;
  font-size: var(--font-size-base);
  color: var(--theme-on-bg);
  margin: 0 0 0.5em;
}

img {
  max-width: 100%;
  ;
}

/* Buttons */
.btn-solid {
  font-family: var(--theme-body-font);
  font-size: var(--font-size-base);
  font-weight: 300;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 150ms all;
}

.btn-solid.btn-primary {
  background-color: var(--theme-primary);
  color: var(--theme-on-primary);
  /* border: 2px solid var(--theme-primary-accent); */
}

.btn-solid.btn-primary:hover {
  background-color: var(--theme-primary-accent);
  transition: 150ms all;
}

.btn-solid.btn-secondary {
  background-color: var(--theme-secondary);
  color: var(--theme-on-secondary);
  /* border: 2px solid var(--theme-secondary-accent); */
}

.btn-solid.btn-secondary:hover {
  background-color: var(--theme-secondary-accent);
  transition: 150ms all;
}

.btn-solid.btn-tertiary {
  background-color: var(--theme-tertiary);
  color: var(--theme-on-tertiary);
  /* border: 2px solid var(--theme-tertiary-accent); */
}

.btn-solid.btn-tertiary:hover {
  background-color: var(--theme-tertiary-accent);
  transition: 150ms all;
}

@media screen and (max-width: 1440px) {
  :root {
    --section-width: 1160px;
    --section-alt-width: 920px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --section-width: 920px;
    --section-alt-width: 728px;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --section-width: 728px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-width: 600px;
  }
}